.container1 a {
  display: block;
  flex: 1;
  margin: 10px;
  text-align: center;
}
.container1 .img1, .container1 .img2, .container1 .img3, .container1 .img4 {
  background-color: #f5f5f5;
  box-shadow: 0px 2px 2px rgba(189, 168, 168, 0.1);
  transition: box-shadow 0.3s ease-in-out;
  flex: 1;
  height: 200px;
  padding: 0%;
  margin: 4%;
  /* overflow: hidden; */

}

.container1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  width: 95%;
  margin: 0 auto;
}


a > div {
  padding: 40px;
}

.img1 img, .img2 img, .img3 img, .img4 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
 
}


.img1 img,
.img2 img,
.img3 img,
.img4 img {
  transition: transform 0.5s;
}

.img1:hover img,
.img2:hover img,
.img3:hover img,
.img4:hover img {
  transform: scale(1.25);
}

.container1 a {
  text-decoration: none; /* 去除下划线 */
  color: #ffffff; /* 设置字体颜色 */
  font-size: 24px; /* 设置字体大小 */
  font-weight: bold; /* 设置字体加粗 */
  text-align: center; /* 设置文本居中对齐 */
  display: block; /* 将 <a> 元素设置为块级元素，以便其宽度可以设置 */
}

.container1 a:hover {
  color: rgb(163, 181, 250); /* 当鼠标悬停在链接上时，将字体颜色设置为红色 */
}

.scrolling-text {
  overflow: hidden; /* 隐藏文字内容超出容器的部分 */
  padding: 10px; /* 设置内边距以避免文字紧贴边框 */
}

.scrolling-text ul {
  margin: 0; /* 去掉默认的列表外边距 */
  padding: 0; /* 去掉默认的列表内边距 */
  list-style: none; /* 去掉默认的列表符号 */
  animation: scrolling-text 10s linear infinite; /* 使用CSS动画来实现滚动效果 */
}

.scrolling-text li {
  margin-bottom: 10px; /* 设置每个列表项的底边距以避免它们紧贴在一起 */
  font-size: 16px; /* 设置文字大小 */
}

@keyframes scrolling-text {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}
