<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="致力于解决疫情下物流路径路线选择">
    <title>基于知识图谱的法律领域问答系统</title>
    <link rel="stylesheet" href="../static/css/demo.css">
</head>

<body background="../static/images/首页法官锤.png"
      style="background-repeat:no-repeat;
            background-attachment:fixed;
            background-size:100% 100%;">
    <div class="header">
        <div class="container">
            <div class="menu">
                <a>基于知识图谱的法律领域问答系统</a>
            </div>
<!--            <div class="account1">-->
<!--                    <a href="/admin/log">请先登录</a>-->
<!--                    <a href="/admin/register">免费注册</a>-->
<!--            </div>-->
            <div style="clear: both"></div>
        </div>
    </div>

    <div class="text">基于知识图谱的法律领域问答系统</div>
    <div class="text2" >
        <a href="templates/menu.html" class="c">进入系统</a>
    </div>
</body>
</html>