<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>地区疫情等级</title>
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <link rel="stylesheet" href="../static/css/demo.css">
    <link rel="stylesheet" href="../static/plugins/bootstrap-3.4.1/css/bootstrap.css">
    <script src="../static/js/jquery-1.11.1.min.js"></script>
    <script src="../static/js/echarts.min.js"></script>
    <script src="../static/js/china.js"></script>
</head>
<body background="../static/images/6.jpg"
      style="background-repeat:no-repeat;
            background-attachment:fixed;
            background-size:100% 100%;">
    <div class="header">
        <div class="container">
            <div class="menu">
                <a href="/function/menu">大数据物流路径选择系统 / 各地区疫情等级</a>
            </div>
            <div id="tim">我是时间</div>
            <div class="account1">
                    <a>登录成功</a>
                    <a href="/">退出</a>
                    <a href="/function/help">帮助与反馈</a>
            </div>
            <div style="clear: both"></div>
        </div>
    </div>
    <div class="container">
        <h6 class="text3">各地区疫情等级</h6>
    </div>
    <div id="f5l">左边</div>
    <div id="f5r">右边</div>
    <script src="../static/js/f5_right.js"></script>
    <script src="../static/js/f5_left.js"></script>
    <script src="../static/js/controller.js"></script>
</body>
</html>