<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>最优路线与现有路线成本比较</title>
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <link rel="stylesheet" href="../static/css/demo.css">
    <link rel="stylesheet" href="../static/plugins/bootstrap-3.4.1/css/bootstrap.css">
     <script src="../static/js/jquery-1.11.1.min.js"></script>
    <script src="../static/js/echarts.min.js"></script>
</head>
<body background="../static/images/6.jpg"
      style="background-repeat:no-repeat;
            background-attachment:fixed;
            background-size:100% 100%;">
    <div class="header">
        <div class="container">
            <div class="menu">
                <a href="/function/menu">大数据物流路径选择系统 / 最优路线与现有路线成本比较</a>
            </div>
            <div class="account1">
                    <a>登录成功</a>
                    <a href="/">退出</a>
                    <a href="/function/help">帮助与反馈</a>
            </div>
            <div style="clear: both"></div>
        </div>
        <div id="f2_1">table1</div>
        <div id="f2_2">table2</div>
        <div id="f2_3">table3</div>
        <div style="clear:both;"></div>
    </div>
    <script src="../static/js/f2_1.js"></script>
    <script src="../static/js/f2_2.js"></script>
    <script src="../static/js/f2_3.js"></script>
    <script src="../static/js/controller.js"></script>
</body>
</html>