<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->

<!--</body>-->
<!--</html>-->


<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Flask Visualization</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Flask Visualization</h1>
    <img src="{{ url_for('static', filename='/images/8.jpg')}}" alt="My Image">
</body>
</html>
