<!DOCTYPE html>
<html>

<head>
    <link rel="icon" href="/static/css/favicon.ico">

    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">

    <title>基于知识图谱的法律问答系统</title>
    <link rel="stylesheet" href="/static/css/loading.css">
</head>

<body>
    <div class="title">
        <h1>基于知识图谱的法律问答系统</h1>
    </div>

    <div class="loader-wrapper">
        <div class="loader"><img src="/static/school_logo/round_light.png" alt=""></div>
        <div class="loader-text">
            <!-- 10个div -->
            <div>点</div>
            <div>任</div>
            <div>意</div>
            <div>处</div>
            <div>进</div>
            <div>入</div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <script>
        document.addEventListener('click', function () {
            window.location.href = '/admin/menu/';
        });
    </script>

</body>

</html>