<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>基于知识图谱的法律领域问答系统</title>
    <link rel="stylesheet" href="../static/css/demo.css">
</head>
<body background="../static/images/4.jpg"
      style="background-repeat:no-repeat;
            background-attachment:fixed;
            background-size:100% 100%;">
    <div class="header">
        <div class="container">
            <div class="menu">
                <a href="#">基于知识图谱的法律领域问答系统 / 模块选择</a>
            </div>
<!--            <div class="account1">-->
<!--                    <a>登录成功</a>-->
<!--                    <a href="/">退出</a>-->
<!--                    <a href="/function/help">帮助与反馈</a>-->
<!--            </div>-->
            <div style="clear: both"></div>
        </div>
    </div>
    <div class="container1">
        <a href="/function/function1">
            <div class="img1">
                <div>知识问答模块</div>
                <img src="../static/images/物流.jpg">
            </div>
        </a>
        <a href="/function/function2">
            <div class="img2">
                <div>智慧图谱模块</div>
                <img src="../static/images/花费.jpg">
            </div>
        </a>
        <a href="/function/function3">
            <div class="img3">
                <div>数据展示模块</div>
                <img src="../static/images/铁路.webp">
            </div>
        </a>
        <a href="/function/function4">
            <div class="img4">
                <div>数据库模块</div>
                <img src="../static/images/疫情2.png">
            </div>
        </a>
        <div style="clear:both;"></div>
    </div>
</body>
</html>