<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" href="/static/css/favicon.ico">
    <meta charset="UTF-8">
    <title>知识问答</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/static/plugins/bootstrap-3.4.1/css/bootstrap.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <style>
        body {
            /* background-image: url({{ url_for('static', filename='images/6.jpg') }}); */
            background-size: cover;
            background-repeat: no-repeat;
        }

        .navbar-brand {
            float: left;
            margin-left: 20px;
            /* 将 margin-left 设置为 0，使其往左移动 */
        }

        ul.navbar-nav {
            float: right;
        }

        div.container {
            margin-top: -1px;
        }

        .navbar-nav .nav-link {
            margin-left: 800px;
        }

        .navbar {
            height: 70px;
        }

        .navbar-nav .nav-link {
            color: #fff !important;
            /* 设置文字颜色为白色 */
        }

        .navbar-nav .nav-link:hover {
            color: #ccc !important;
            /* 设置鼠标悬停时的颜色为灰色 */
        }
    </style>
</head>

<body>
    <!-- 定义导航栏 -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">

            <!-- 导航栏商标 -->
            <div class="align-left">
                <a class="navbar-brand" style="margin-left: -100px;" href="/admin/QandA/">基于知识图谱的法律问答系统</a>
            </div>

            <!-- 导航入口 -->
            <div>
                <ul class="navbar-nav">
                    <!-- 条目 -->
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/return_main">返回</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container" style="margin-top: -1px;"> <!-- 修改此处的margin-top值 -->
        <div class="shu">
            <form id="questionForm">
                <div class="form-group">
                    <label>选择模块</label>
                    <select class="form-control" id="module" name="module">
                        <option value="1">交通</option>
                        <option value="2">婚姻</option>
                        <option value="3">债务</option>
                        <option value="4">公司</option>
                        <option value="5">刑事</option>
                        <option value="6">劳动</option>
                        <option value="7">合同</option>
                        <option value="8">商标</option>
                        <option value="9">房产</option>
                        <option value="10">民商</option>
                        <option value="11">民法</option>
                        <option value="12">行政</option>
                    </select>
                </div>
                <div class="form-group" style="margin-bottom: 20px;">
                    <label>问题</label>
                    <input type="text" class="form-control" name="origin" placeholder="问题">
                </div>
                <button type="button" class="btn btn-primary" onclick="get_matched_questions()"
                    style="margin-top: 10px;">查找匹配问题</button>
            </form>
            <div id="matched-questions" style="margin-top: 20px;"></div>
            <form id="answerForm">
                <div class="form-group">
                    <label>专业解答</label>
                    <textarea type="text" class="form-control" name="destination" placeholder="专业解答" readonly
                        rows="3"></textarea>

                </div>
            </form>
        </div>
        <div style="clear:both;"></div>
    </div>
    <script>
        function get_matched_questions() {
            var formData = {
                "module": $("#module").val(),
                "question": $("input[name=origin]").val()
            };
            $.ajax({
                type: "POST",
                contentType: "application/json",
                url: "/function/get_matched_questions",
                data: JSON.stringify(formData),
                dataType: "json",
                success: function (data) {
                    if (data.status === "success") {
                        var matched_questions = data.matched_questions;
                        var html = "<ul>";
                        for (var i = 0; i < matched_questions.length; i++) {
                            var question = matched_questions[i][0];
                            html += '<li><a href="#" onclick="get_answer(\'' + question + '\')">' + question + '</a></li>';
                        }
                        html += "</ul>";
                        $("#matched-questions").html(html);
                    } else {
                        alert(data.message);
                    }
                },
                error: function (e) {
                    console.log("ERROR: ", e);
                    alert("Error!");
                }
            });
        }

        function get_answer(question) {
            $("textarea[name=destination]").attr("rows", 3);
            var formData = {
                "module": $("#module").val(),
                "question": question
            };
            $.ajax({
                type: "POST",
                contentType: "application/json",
                url: "/function/ask_question",
                data: JSON.stringify(formData),
                dataType: "json",
                success: function (data) {
                    if (data.status === "success") {
                        var answer = data.answer;
                        $("textarea[name=destination]").val(answer);
                        var rows = Math.round($("textarea[name=destination]")[0].scrollHeight / 20);
                        $("textarea[name=destination]").attr("rows", rows);
                    } else {
                        alert(data.message);
                    }
                },
                error: function (e) {
                    console.log("ERROR: ", e);
                    alert("Error!");
                }
            });
        }



    </script>
</body>

</html>