<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户注册</title>
    <link rel="stylesheet" href="../static/css/demo.css">
    <link rel="stylesheet" href="../static/plugins/bootstrap-3.4.1/css/bootstrap.css">
    <script>
        function validateForm() {
            var pwd1 = document.getElementById("exampleInputPassword1").value;
            var pwd2 = document.getElementById("exampleInputPassword2").value;
            if (pwd1 !== pwd2) {
                alert("两次输入的密码不一致，请重新输入！");
                return false;
            }
            return true;
        }
    </script>
</head>
<body background="../static/images/6.jpg"
      style="background-repeat:no-repeat;
            background-attachment:fixed;
            background-size:100% 100%;">

   <div class="header">
        <div class="container">
            <div class="menu">
                <a href="/">基于知识图谱的法律问答系统</a>
            </div>
            <div style="clear: both"></div>
        </div>
   </div>

    <div class="account2 acc2">
        <h2>用户注册</h2>
        <form method="post" action="/admin/regist" onsubmit="return validateForm()">
            <a href="/admin/login">已有账号去登录</a>
            <div class="form-group">
                 <label for="exampleInputEmail1">用户名</label>
                 <input type="text" class="form-control" id="exampleInputEmail1" name="username"  placeholder="用户名">
            </div>
            <div class="form-group">
                  <label for="exampleInputPassword1">密码</label>
                  <input type="password" class="form-control" id="exampleInputPassword1" name="pwd1" placeholder="密码">
            </div>
            <div class="form-group">
                 <label for="exampleInputPassword1">确认密码</label>
                  <input type="password" class="form-control" id="exampleInputPassword2" name="pwd2" placeholder="确认密码">
            </div>
            <button type="submit" class="btn btn-primary">提交</button>
            <span class="back">
            </span>
            <div >注册即代表同意《用户使用协议》《隐私保护协议》</div>
        </form>
    </div>
</body>
</html>
