<!doctype html>
<html lang="en">

<head>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/main.css">
  <title>Hello, world!</title>
</head>

<body style="background: url('https://s1.ax1x.com/2023/04/12/ppXo8h9.jpg') no-repeat center center fixed; 
             -webkit-background-size: cover;
             -moz-background-size: cover;
             -o-background-size: cover;
             background-size: cover;">




  <!-- 定义导航栏 -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">

      <!-- 导航栏商标 -->
      <div class="mr-auto">
        <a class="navbar-brand" href="#">基于知识图谱的法律问答系统</a>
      </div>

      <!-- 导航入口 -->
      <div>
        <ul class="navbar-nav">
          <!-- 条目 -->
          <li class="nav-item">
            <a class="nav-link" href="#">联系我们</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">退出</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container1">
    <a href="/function/function1">
      <div>知识咨询</div>
      <div class="img1">
        <img src="http://img-qn.51miz.com/preview/photo/00/01/59/26/P-1592671-605F6219O.jpg!/quality/90/unsharp/true/compress/true/fwfh/640x420">
      </div>
    </a>
    <a href="/function/function2">
      <div>智慧图谱</div>
      <div class="img2">
        <img src="https://s1.ax1x.com/2023/04/12/ppjmOEV.png">
      </div>
    </a>
    <a href="/function/function3">
      <div>数据展示</div>
      <div class="img3">

        <img src="https://p1.ssl.cdn.btime.com/t013afe7474a2ebc1bd.jpg?size=1200x720">
      </div>
    </a>
    <a href="/function/function4">
      <div>数据库</div>
      <div class="img4">
        <img src="https://s1.ax1x.com/2023/04/12/ppjnwbq.jpg">
      </div>
    </a>
    <div style="clear:both;"></div>
  </div>
  
  <!-- Footer -->
  <div>
    <br><br><br>
  </div>
  <footer class="py-1 bg-dark fixed-bottom">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; www.nighterdream.cn 2023</p>
    </div>
  </footer>

  <!-- Optional JavaScript; choose one of the two! -->

  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
    crossorigin="anonymous"></script>

</body>

</html>